/* How i set up my css: I divided every section, 
inserting the media queries at the end of each of them  */

/* LOGO-TOPBAR (Sony Logo) */
.logo-topbar {
    background-color: black;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-topbar-img {
    width: 90px;
    padding-right: 12px;
}

.logo-topbar-img img {
    width: 100%;
}

/* NAVBAR */
nav div ul li a i {
    color: gray;
    font-size: 12px;
    margin-left: 6px;
}

.nav-button {
    background-color: black;
    border-radius: 20px;
    border-color: black;
}

.nav-button-container {
    width: 82px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav-button-container:hover .nav-button {
    background-color: gray;
    border-color: gray;
}

.nav-button-container:hover {
    border-color: gray;
}

/* JUMBO */
.jumbo-container {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.jumbo-container .container {
    color: white;
}

.jumbo-game-logo {
    width: 180px;
    padding-top: 300px;
}

.jumbo-game-logo img {
    width: 100%;
    margin-bottom: 24px;
}

.jumbo-txt p {
    font-size: 9px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.jumbo-button {
    border: 1px solid red;
    background-color: red;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 48px;
}

@media screen and (min-width: 992px) {
    .jumbo-txt p {
        font-size: 12px;
    }
}

/* SMALL BOXES GAME PREVIEWS */
.small-previews {
    padding-top: 24px;
}

.small-box {
    border-radius: 20px;
    border: 1px solid white; /* to mantain space */
    margin-top: 12px;
}

.small-box:hover {
    border: 2px solid blue;
}
.small-box-inner {
    border: 2px solid white;
    overflow: hidden;
    border-radius: 20px;
}

.small-box img {
    width: 100%;
}

/* PS5 SECTION */
.slogan {
    color: blue;
    text-align: center;
    margin-top: 84px;
}

.slogan h6 {
    margin-bottom: 0; /* override bootstrap "h6" rules */
    font-size: 10px;
}

.ps5-section-title {
    margin-bottom: 12px;
    text-align: center;
}

.ps5-section-description {
    font-size: 12px;
    color: grey;
    text-align: center;
    margin-bottom: 48px;
}

.ps5-sub-description {
    color: gray;
    font-size: 11px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.playstation-thumb {
    width: 100%;
}

.ps5-button {
    border-radius: 20px;
    font-size: 12px;
}

.small-items {
    margin-top: 12px;
}

.ps5-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ps5-item-container:hover {
    border-bottom: 1px solid blue;
}

.ps5-item-img {
    height: 90px;
}

.ps5-item-img img{
    height: 100%;
}

.ps5-item-txt {
    text-align: center;
    margin-top: 12px;
    display: none;
}

.ps5-item-txt h6 {
    font-size: 14px;    
}

@media screen and (max-width: 575px) {
    .ps5-item-img {
        height: 90px;
    }
}

@media screen and (min-width: 576px) {
    .ps5-section-description {
        font-size: 18px;
    }
    .ps5-sub-description {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .slogan h6 {
        font-size: 14px;
    }
    .ps5-item-txt {
        display: block;
    }
    .ps5-item-img {
        height: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .ps5-item-img {
        height: 100px;
    }
    .ps5-item-txt h6 {
        font-size: 18px;    
    }
}

/* IT TAKES TWO SECTION (COOP GAMING) */
.coop-container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.coop-container .container {
    color: white;
}

.coop-game-logo {
    width: 180px;
    padding-top: 48px;
}

.coop-game-logo img {
    width: 100%;
    margin-bottom: 24px;
}

.coop-title h1 {
    font-size: 25px;
}

.coop-txt p {
    font-size: 9px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.coop-button {
    border: 1px solid red;
    background-color: red;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 48px;
}

@media screen and (min-width: 576px) {
    .coop-game-logo {
        width: 300px;
    }
    .coop-title h1 {
        font-size: 35px;
    }
    .coop-txt p {
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {
    .coop-txt p {
        font-size: 12px;
    }
    .coop-title h1 {
        font-size: 34px;
    }
    .coop-txt p {
        font-size: 13px;
    }
}